.embed-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.embed-container.is-responsive {
    height: 0;
}

.embed-container.is-responsive > iframe, .embed-container.is-responsive > object, .embed-container.is-responsive > embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}